*.swp

*.mem
*.srec
vtj1-config.asm
vtj1-config.cooked
vtj1-config.v
vtj1vers.asm
vtj1vers2.asm

_ngo
_xmsgs
iseconfig
xst
xlnx_auto_0_xdb

vtj1.bgn
vtj1.bit
vtj1.bld
vtj1.cmd_log
vtj1.drc
vtj1.gise
vtj1.lso
vtj1.ncd
vtj1.ngc
vtj1.ngd
vtj1.ngr
vtj1.pad
vtj1.par
vtj1.pcf
vtj1.prj
vtj1.ptwx
vtj1.stx
vtj1.syr
vtj1.twr
vtj1.twx
vtj1.unroutes
vtj1.ut
vtj1.xise
vtj1.xpi
vtj1.xst
par_usage_statistics.html
usage_statistics_webtalk.html
vtj1_bitgen.xwbt
vtj1_envsettings.html
vtj1_guide.ncd
vtj1_map.map
vtj1_map.mrp
vtj1_map.ncd
vtj1_map.ngm
vtj1_map.xrpt
vtj1_ngdbuild.xrpt
vtj1_pad.csv
vtj1_pad.txt
vtj1_par.xrpt
vtj1_summary.html
vtj1_summary.xml
vtj1_usage.xml
vtj1_xst.xrpt
webtalk.log
webtalk_pn.xml
